body {
    background-color: #FFFAFA !important;
    font-size: 0.9em;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.red-text {
    color: #cd5c5c;
}

.footer {
    right: 0;
    left: 0;
    z-index: 1030;
    background: #f1bf22;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    bottom: 0;
    margin-top: 46vh;
}

.footer hr {
    background: white !important;
}

.footer-content {
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    color: #000000 !important;
    border: 2px solid #a9a9a9 !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.hyperlink {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.btn-primary {
    background: #f1bf22;
}

.paginate_button:hover {
    background: #f1bf22 !important;
}

.navbar-nav {
    padding: 0 24px;
    text-transform: capitalize;
    margin-right: 15px;
}

.nav-link {
    color: white !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1bf22;
}

.home-service-card {
    background: #223341;
    cursor: pointer;
}

.home-service-card:hover {
    background: #f1bf22;
}

.home-service-card-text {
    color: #FFFFFF;
}

.cursor-pointer {
    cursor: pointer;
}

.hidden-content {
    display: none !important;
}

.header-component {
    display: flex;
    justify-content: space-between;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

input:focus {
    border: 2px solid #011685 !important;
    box-shadow: none !important;
}

textarea:focus {
    border: 2px solid #011685 !important;
    box-shadow: none !important;
}

.navbar {
    background: linear-gradient(90deg, rgba(255,254,253,0.9990246376294768) 5%, rgba(204,208,18,1) 36%, rgba(241,191,34,0.9793617162811622) 100%);

}