<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--
    Set to a suitable path for maven's repository.
    Best to make this different to the Nexus settings.xml, as an Artifactory job tries to download everything fresh, overwriting what was downloaded from Nexus.
    -->
   <localRepository>C:\m2</localRepository>
   <proxies>
      <proxy>
         <active>true</active>
         <protocol>http</protocol>
         <host>bne-app-proxy.au.fcl.internal</host>
         <port>3128</port>
         <nonProxyHosts>localhost|*.au.fcl.internal</nonProxyHosts>
      </proxy>
   </proxies>
 
 
    <!--
    Username is your Windows AD Username.
    Password is your personal Artifactory API Key.
    -->
    
    <servers>
        <server>
            <id>fct-corporate-maven</id>
            <username>pathaka</username>
            <password>AKCp5fUi2t8MDtJuT4bXEvffF3gQ3hozvh8yprxcoM8nCkVnuHqXXNNr2YnYCxsEN8brur76F</password>
        </server>
        <server>
            <id>corporate-maven</id>
            <username>pathaka</username>
            <password>AKCp5fUi2t8MDtJuT4bXEvffF3gQ3hozvh8yprxcoM8nCkVnuHqXXNNr2YnYCxsEN8brur76F</password>
        </server>
        <server>
            <id>corporate-common-maven</id>
            <username>pathaka</username>
            <password>AKCp5fUi2t8MDtJuT4bXEvffF3gQ3hozvh8yprxcoM8nCkVnuHqXXNNr2YnYCxsEN8brur76F</password>
        </server>
        <server>
            <id>corporate-thirdparty-maven</id>
            <username>pathaka</username>
            <password>AKCp5fUi2t8MDtJuT4bXEvffF3gQ3hozvh8yprxcoM8nCkVnuHqXXNNr2YnYCxsEN8brur76F</password>
        </server>
    </servers>
 
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <id>fct-corporate-maven</id>
                    <name>fct-corporate-maven</name>
                    <url>https://flightcentre.jfrog.io/flightcentre/fct-corporate-maven</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
 
                <!-- Super secret Corporate artifacts. -->
                <repository>
                    <id>corporate-maven</id>
                    <name>corporate-maven</name>
                    <url>https://flightcentre.jfrog.io/flightcentre/corporate-maven</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
 
                <!-- Artifacts that are shared with other teams, eg. sabre-api-client. -->
                <repository>
                    <id>corporate-common-maven</id>
                    <name>corporate-common-maven</name>
                    <url>https://flightcentre.jfrog.io/flightcentre/corporate-common-maven</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
 
                <!-- 3rd party artifacts, eg. Sybase jars. -->
                <repository>
                    <id>corporate-thirdparty-maven</id>
                    <name>corporate-thirdparty-maven</name>
                    <url>https://flightcentre.jfrog.io/flightcentre/corporate-thirdparty-maven</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>fct-corporate-maven</id>
                    <name>fct-corporate-maven</name>
                    <url>https://flightcentre.jfrog.io/flightcentre/fct-corporate-maven</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>